<div id="mainWrapperHome">


	<div id="loginHome">
		<img src="images/header4.png" />
			<br />
			<%= form_for(@user) do |f| %>
			<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
				<ul>
					<% @user.errors.full_messages.each do |msg| %>
					<li>
						<%= msg %>
					</li>
					<% end %>
				</ul>
			</div>
			<% end %>


      <div id="boxHome">
			<%= f.label :login  %>
			<br/>
			<%= f.text_field :login, :size=>30, :class=>"inputStyle" %>@rit.edu
			<br/>

			<%= f.label :password %>
			<br/>
			<%= f.password_field :password, :size=>30, :class=>"inputStyle" %>
			<br/>

			<%= f.label :password_confirmation %>
			<br/>
			<%= f.password_field :password_confirmation, :size=>30, :class=>"inputStyle" %>
			<br/>
			<br/>

      <%= f.submit "", :class=>"signupbtn" %>
			<% end %>
      </div>
		</div>
</div><!--END MAIN WRAPPER-->