<p>
  <b>Comment:</b>
  <%= course_review.comment %>
</p>

<p>
  <b>Difficulty:</b>
  <%= course_review.difficulty %>
</p>

<p>
  <b>Usefulness:</b>
  <%= course_review.usefulness %>
</p>

<p>
  <b>Content:</b>
  <%= course_review.content %>
</p>

<p>
  <b>Time spent:</b>
  <%= course_review.time_spent %>
</p>

<p>
  <b>Recommend:</b>
  <%= course_review.recommend %>
</p>